<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>NHẬN THÔNG BÁO</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p><i class="fas fa-circle"></i> Công ty cổ phần thời trang ASIMO. </p>
      <p><i class="fas fa-circle"></i> GPDKKD: 03032173542 do sở KH & ĐT TP.HCM cấp ngày 02/01/2021. </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"> <i class="fas fa-align-justify"></i> Thông tin địa chỉ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Cơ sở 1</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Cơ sở 2</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Cơ sở 3</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Cơ sở 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="fas fa-align-justify"></i> TIN TỨC</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Tuyển dụng</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Khuyến mãi</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Khai trương</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Sản phẩm mới</a>
            </li>
          </ul>
        </div>
      
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="fas fa-align-justify"></i> CHÍNH SÁCH</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Chính sách bảo hành</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Chính sách đổi trả</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Mua trả góp</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-angle-right"></i> Thanh toán online</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="fas fa-align-justify"></i> TRA CỨU THÔNG TIN</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-phone"></i> 08.4444.5970</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-phone"></i> 03.5476.1287</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-share-alt-square"></i> Diễn đàn</a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-ambulance"></i> Trung tâm CSKH</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">ĐỒ ÁN TỐT NGHIỆP - ĐẠI HỌC TÔN ĐỨC THẮNG</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->