<div class="container" id ="product_item"> 

  <div class="" style="float: right;margin-top: 30px;">
    <a href="{% url 'Contents:giaynam'%}" style="color: black;"><i class="fas fa-angle-double-right"></i> <strong>Xem Thêm</strong></a>
  </div>

          <p id="text-ani" style="font-size:20px;">
                  SẢN PHẨM BẠN CÓ THỂ LỰA CHỌN
              <hr>
          </p>
          <div class="row">
                  <div class="col-sm-1 col-md-6 col-lg-3" style="margin-top:20px;">
                      <div class="card" style="margin:auto">
                        <img class="card-img-top" src="/media/images/giaynam/d2.jpg" alt="Card image cap" height="250px" width="250px">
                        <div class="card-body">
                          <center><h5 class="card-title badge-secondary" style="border-radius:8px;">Giày Nam</h5></center>
                          
                          <h5 class="card-title">660.000 VNĐ</h5>
                          <a href ="" class="btn btn-primary">Mua sản phẩm</a> <span class="badge badge-danger">New</span>
                        </div>
                      </div>
                  </div>

                  <div class="col-sm-1 col-md-6 col-lg-3" style="margin-top:20px;">
                    <div class="card" style="margin:auto">
                      <img class="card-img-top" src="/media/images/giaynam/d3.jpg" alt="Card image cap" height="250px" width="250px">
                      <div class="card-body">
                        <center><h5 class="card-title badge-secondary" style="border-radius:8px;">Giày Nam</h5></center>
                        
                        <h5 class="card-title">660.000 VNĐ</h5>
                        <a href ="" class="btn btn-primary" >Mua sản phẩm</a> <span class="badge badge-danger">New</span>
                      </div>
                    </div>
                </div>

                <div class="col-sm-1 col-md-6 col-lg-3" style="margin-top:20px;">
                  <div class="card" style="margin:auto">
                    <img class="card-img-top" src="/media/images/giaynam/d4.jpg" alt="Card image cap" height="250px" width="250px">
                    <div class="card-body">
                      <center><h5 class="card-title badge-secondary" style="border-radius:8px;">Giày Nam</h5></center>
                      
                      <h5 class="card-title">660.000 VNĐ</h5>
                      <a href ="" class="btn btn-primary">Mua sản phẩm</a> <span class="badge badge-danger">New</span>
                    </div>
                  </div>
              </div>

              <div class="col-sm-1 col-md-6 col-lg-3" style="margin-top:20px;">
                <div class="card" style="margin:auto">
                  <img class="card-img-top" src="/media/images/giaynam/d5.jpg" alt="Card image cap" height="250px" width="250px">
                  <div class="card-body">
                    <center><h5 class="card-title badge-secondary" style="border-radius:8px;">Giày Nam</h5></center>
                    
                    <h5 class="card-title">660.000 VNĐ</h5>
                    <a href ="" class="btn btn-primary" >Mua sản phẩm</a> <span class="badge badge-danger">New</span>
                  </div>
                </div>
            </div>
       </div>
</div>      
<br/>