<div class="container-fluid" id="layout-menu" >
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-2" > 
                  <div class="dropdown">
                        <button class="dropbtn">GIÀY NAM</button>
                        <div class="dropdown-content">
                          <a href="#"> GIÀY DA</a>
                          <a href="#"> GIÀY LƯỜI</a>
                          <a href="#"> GIÀY THỂ THAO</a>
                        </div>
                  </div>
		</div>
            <div class="col-sm-12 col-md-6 col-lg-2" > 
                  <div class="dropdown">
                        <button class="dropbtn">GIÀY NỮ</button>
                        <div class="dropdown-content">
                          <a href="#">GIÀY DA</a>
                          <a href="#">GIÀY CAO GÓT</a>
                          <a href="#">GIÀY BOOT</a>
                        </div>
                  </div>
		</div><div class="col-sm-12 col-md-6 col-lg-2" > 
                  <div class="dropdown">
                        <button class="dropbtn">GIÀY TRẺ EM</button>
                        <div class="dropdown-content">
                          <a href="#">GIÀY THỂ THAO</a>
                          <a href="#">GIÀY VẢI ÊM</a>
                          <a href="#">GIÀY DA MỀM</a>
                        </div>
                  </div>
		</div><div class="col-sm-12 col-md-6 col-lg-2" > 
                  <div class="dropdown">
                        <button class="dropbtn">PHỤ KIỆN</button>
                        <div class="dropdown-content">
                          <a href="#">BAO TAY</a>
                          <a href="#">VÒNG ĐEO TAY</a>
                          <a href="#">TẤT LEN ASIMO</a>
                          <a href="#">DÂY LỊT</a>
                          <a href="#">MŨ LEN</a>
                          <a href="#">DÂY NƠ</a>
                          <a href="#">VÒNG ĐEO CỔ</a>
                          <a href="#">KHĂN LEN</a>
                        </div>
                  </div>
		</div>
            
       
     
      </div>
</div>

