{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang = "en">
<head>
   {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href = "{% static 'blog/main.css' %}">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
         html,body{
            margin:30px;
            padding:0;
            height:100%; 
           
        }
        .content-section{
            border-radius:25px;
            height:100%;
            width:40%;
        }
        .form-group{
            font-size:15px;
            font-weight: bold;
        }
        #login_text{
            font-size:25px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <center>
            <h1>Password changed</h1>
            <p>Your password has been successfully changed.</p>
            <a href="/login" class="btn btn-primary">Log in</a>
    </center>
</body>

</html>