<div class="container-fluid" id="layout-menu" >
	<div class="row" style="justify-content: center">
		<div class="col-sm-12 col-md-12 col-lg-2" > 		
          		   <li class="nav-item dropdown" style="list-style-type: none;">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">GIÀY NAM</a>
            <div class="dropdown-menu" style="border-radius:15px;" >
                <a class="dropdown-item text-primary" href="{% url 'Contents:giaynam' %}" style="background-color:#F5F5DC;border-style: solid;
                      border-width: 1px 1px 1px 1px;border-radius:3px;">Giày Da</a>
                                    <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
                      border-width: 1px 1px 1px 1px;border-radius:3px;">Giày Lười</a>
                                    <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
                      border-width: 1px 1px 1px 1px;border-radius:3px;">Giày Mọi</a>
            </li>
			
		</div>

		<div class="col-sm-12 col-md-12 col-lg-2" >
			
      <li class="nav-item dropdown" style="list-style-type: none;">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">GIÀY NỮ</a>
            <div class="dropdown-menu" style="border-radius:15px;">
              <a class="dropdown-item text-primary" href="{% url 'Contents:giaynu' %}" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">Giày cao gót</a>
                <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">Giày Sandal</a>
                <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">Giày AnTa</a>
            </li>
			
		</div>

	<div class="col-sm-12 col-md-12 col-lg-2" >
			
      <li class="nav-item dropdown" style="list-style-type: none;">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">GIÀY TRẺ EM</a>
            <div class="dropdown-menu" style="border-radius:15px;">
              <a class="dropdown-item text-primary" href="{% url 'Contents:begai' %}" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">Giày cho bé gái</a>
                <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">Giày cho bé trai</a>
                <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">Phụ kiện trẻ em</a>
            </li>
			
		</div>

		<div class="col-sm-12 col-md-12 col-lg-2" >
			
            		   <li class="nav-item dropdown" style="list-style-type: none;">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">THƯƠNG HIỆU</a>
            <div class="dropdown-menu" style="border-radius:15px;">
            <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">ADIDAS</a>
                <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">PUM MA</a>
                <a class="dropdown-item text-primary" href="#" style="background-color:#F5F5DC;border-style: solid;
  border-width: 1px 1px 1px 1px;border-radius:3px;">SNACKER</a>
            </li>
          		
			
		</div>

		<div class="col-sm-12 col-md-12 col-lg-2" >
			
            		<a class="nav-link active" href="#" style="" style="border-radius:15px;">PHỤ KIỆN</a>
          		
		</div>
	
	
      </div>
</div>