{% extends "templates/Home/base.html" %}

{% block content %}
     {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
        {% endif %} 


 <h2 class="text-center" style="margin-top:45px;margin-bottom:45px;">Đơn Hàng Của Tôi</h2>
            <div class="container" style="margin-bottom:45px;"> 
                <table id="cart" class="table table-hover table-condensed"> 
          
            
                <thead> 
                <tr> 
                    <th style="width:30%" class="text-center">DANH SÁCH ĐƠN MUA</th> 
                    <th style="width:20%" class="text-center">Địa chỉ</th> 
                    <th style="width:20%" class="text-center">Trạng thái</th> 
                    <th style="width:10%" class="text-center">Thời gian</th> 
                    <th style="width:30%" class="text-center">Chốt đơn/Hủy đơn</th> 
                    <th style="width:10%"></th> 
                </tr> 
                </thead> 
               
           
             {% for order in myorderproduct %}
                
                    <tbody><tr> 
                    <td data-th="Product"> 
                        <div class="row"> 
                            <div class="col-sm-4 hidden-xs" style="margin-left:100px;">
                                <a href="{% url 'Contents:chitietdonmua' order.id %}" style="font-size: 25px;margin:auto">{{order.user.username}}</a>
                            </div> 
                        </div> 
                    </td> 
                   <td data-th="">
                         {{order.Address}}
                    </td> 
                    <td data-th="">
                        Đang chờ vận chuyển
                    </td> 

                    <td data-th="Quantity">
                        {{order.date}}
                    </td> 
                  
                    <td data-th="Cancel" class="text-center"><a  href="{% url 'Contents:huydonhang' order.id %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Hủy</a></td> 
                    </tr>
                        
                    </tbody><tfoot> 
                    <tr class="visible-xs"> 
                    </tr> 
                    
                {%endfor%}
                
                 
                <tr > 
                    <td><a  href="{% url 'Contents:contents' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td> 
                    <td colspan="2" class="hidden-xs"> </td> 
                       
                        <td class="hidden-xs text-center " ><p style="text-size:10px;width:110px ;font-weight:bold;">Tổng tiền {{total}}</p>
                    </td>
                    
                    </td> 
                </tr> 
                </tfoot>
            </table>
        </div>
{% endblock %}